.App {
  font-family: "Quicksand", sans-serif;
  margin: 30px 100px;
}

.App-header {
  text-align: center;
}

.App h1{
  color: #ED4856;
  font-size: 52px;
  margin: 40px 0;

}

.App footer{
  margin-top: 30px;
  text-align: center;
  font-size: 12px;
}

.App footer a {
  color: #ff848e;
}

@media (max-width: 768px) {
  .App {
    margin: 30px 20px;
    background: none;
  }
}
